# many python libs installed via apt in dockerfile, to avoid compiling issues during container build

# database ORM and drivers for data-postgres
SQLAlchemy==1.3.10
psycopg2-binary==2.8.4  # use psycopg2-binary to avoid need to compile in this dev env
psycopg2-pgevents==0.1.1

# core data science libraries
pandas==0.25.3  # must install via apt-get due to dependency issues with Python 3.8
glom==19.10.0  # declarative nested data transformation, from Mahmoud!
lxml==4.6.2    # for xml parsing

# notebook libraries - required on local machine
jupyter==1.0.0
jupyterlab==1.2.21
jupyter-contrib-nbextensions==0.5.1
jupyter-nbextensions-configurator==0.4.1
jupyternotify==0.1.15

# visualization libs - for static plots or interactive hosted server available for browser outside this container
bokeh==1.3.4       # interactive plotting/analysis
# missingno==0.4.2   # automated data analysis; pass because it requires numpy, scipy & matplotlib

# project maintenance libraries
pur==5.2.2
ipython==7.9.0
virtualenv==16.7.7
